#container{
  margin-top: 50px;  
  border: 1px solid rgb(133, 133, 133);
  border-radius: 0px;
  height: 80vh!;
  padding: 10px!important;
    
}
#display{
    background-color: rgb(226, 225, 225);
    border: inherit;
    height: 25vh;
    border-radius: 0px;
    overflow: hidden!important;
}
.row{
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.col{
 margin: 8px!important;
}
.width{
    width: auto !important;
}
.row{
    height: 90px;
}
.auto{
    height:100%!important;
    width:100%!important;}
.font{
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* .font-operator{
    background-color: rgb(226, 226, 226)!important;
}  */
#display{
    font-size:3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2rem;
    margin-bottom: 10px!important;
} 
.dark-edition{
    background-color: black!important;
    color: white!important;
    --bs-btn-color: #fff1f1!important;
    --bs-btn-bg: #000000!important;

}
